name: SDM845 Release

on: [workflow_dispatch]

jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest
    # timeout-minutes: 200
    steps:
      - uses: actions/checkout@v4

      - name: Set Custom Variables
        id: vars
        run: |
          echo "date=$(date +%Y%m%d)" >> $GITHUB_OUTPUT
          echo "repository=shubhamvis98/kali-phone" >> $GITHUB_OUTPUT

### Build Code Starts from Here

      - name: Clone Repository
        run: |
          sudo apt update
          sudo apt install -y debootstrap systemd-container rsync qemu-user-static bmap-tools android-sdk-libsparse-utils
          git clone -b qcom https://github.com/Shubhamvis98/kali-pinephone build
          cp custom.sh build

      - name: Download base.tgz
        run: |
          pip install gdown
          gdown --fuzzy 'https://drive.google.com/file/d/1ZS_cxVThR_Fs-ly35cSjFhR-KFkrzahd/view?usp=drivesdk' -O build/base.tgz

      - name: Build
        run: |
          cd build
          chmod +x build.sh
          #sudo ./build.sh -c -t sdm845
          echo hello > hello.img
          echo hello > hello.img.xz
          echo sh > sha1sum
          for i in *.img*; do sha1sum ${i} >> sha1sum; done

### Build Code Ends Here

      - name: Upload Release
        uses: softprops/action-gh-release@v1
        env:
          GH_TOKEN: ${{ github.token }}
        with:
          draft: true
          generate_release_notes: false
          prerelease: false
          tag_name: ${{ steps.vars.outputs.date }}
          name: Release ${{ steps.vars.outputs.date }}
          files: |
            build/*.img*
            build/sha1sum
          token: ${{ secrets.RELEASE_TOKEN }}
          repository: ${{ steps.vars.outputs.repository }}
          body: |
            **Default User/Pass:** kali/8888

            ### Installation:

            #### From PinePhone/Pro:
            ```
            unxz ${IMAGE_FILE}.xz && bmaptool copy ${IMAGE_FILE} /dev/mmcblkX
            or
            unxz -c ${IMAGE_FILE}.xz | dd of=/dev/mmcblkX bs=1M oflag=sync status=progress
            X: Storage Device
            ```

            #### From PC [Use Tow-Boot's Mass Storage]:
            While booting press Vol-up to boot into Mass Storage, led color will be blue
            ```
            unxz ${IMAGE_FILE}.xz && bmaptool copy ${IMAGE_FILE} /dev/sdX
            or
            unxz -c ${IMAGE_FILE}.xz | dd of=/dev/sdX bs=1M oflag=sync status=progress
            X: Storage Device
            ```

            #### Please install Tow-Boot if boot fails
            #### Create an issue if you see any bug in the release
            ![GitHub release (by tag)](https://img.shields.io/github/downloads/${{ steps.vars.outputs.repository }}/${{ steps.vars.outputs.date }}/total?label=Downloads)
