name: Kali SDM845 Release

on: [workflow_dispatch]

jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest
    # timeout-minutes: 200
    steps:
      - uses: actions/checkout@v4

      - name: Set Custom Variables
        id: vars
        run: |
          echo "date=$(date +%Y%m%d)" >> $GITHUB_OUTPUT
          echo "repository=shubhamvis98/kali-phone" >> $GITHUB_OUTPUT

### Build Code Starts from Here

      - name: Clone Repository
        run: |
          sudo apt update
          sudo apt install -y debootstrap systemd-container rsync qemu-user-static bmap-tools android-sdk-libsparse-utils
          git clone -b qcom https://github.com/Shubhamvis98/kali-pinephone build
          cp custom.sh build

      - name: Download base.tgz
        run: |
          pip install gdown
          gdown --fuzzy 'https://drive.google.com/file/d/1ZS_cxVThR_Fs-ly35cSjFhR-KFkrzahd/view?usp=drivesdk' -O build/base.tgz

      - name: Build
        run: |
          cd build
          chmod +x build.sh
          sudo ./build.sh -c -m trixie -t sdm845 -s custom.sh
          for i in *.img*; do sha1sum ${i} >> sha1sum; done

### Build Code Ends Here

      - name: Upload Release
        uses: softprops/action-gh-release@v1
        env:
          GH_TOKEN: ${{ github.token }}
        with:
          draft: true
          generate_release_notes: false
          prerelease: false
          tag_name: ${{ steps.vars.outputs.date }}
          name: Release ${{ steps.vars.outputs.date }}
          files: |
            build/*.img*
            build/sha1sum
          token: ${{ secrets.RELEASE_TOKEN }}
          repository: ${{ steps.vars.outputs.repository }}
          body: |
            **Default User/Pass:** kali/8888

            ### Installation:

            **Supported Devices:**
            - SHIFT SHIFT6mq(axolotl)
            - Xiaomi Poco F1 (beryllium ebbg/tianma)
            - Oneplus 6 (enchilada)
            - Oneplus 6T (fajita)
            - Xiaomi Mi MIX 2S (polaris)

            ### Install on SDCard:
            ```
            unxz kali_phosh_sdm845_YYYYMMDD.img.xz
            simg2img kali_phosh_sdm845_YYYYMMDD.img rootfs_ext4.img
            dd if=rootfs_ext4.img of=/dev/sdX bs=1M oflag=sync status=progress
            and at last, flash boot.img using fastboot
            fastboot flash boot boot-{model}.img
            ```

            ### Install on EMMC (fastboot method):
            **Boot your device into fastboot and run below commands:**
            ```
            unxz kali_phosh_sdm845_YYYYMMDD.img.xz
            fastboot flash userdata kali_phosh_sdm845_YYYYMMDD.img
            fastboot flash boot boot-{model}.img
            ```
            ### WARNING: This will wipe your phone. So, I won't recommend to flash it in your daily driver, but if your device supports external sdcard, go ahead (-;

            #### Create an issue if you see any bug in the release
            ### [If you find my work useful and would like to support it, consider making a donation](https://fossfrog.in/donate/)

            ![GitHub release (by tag)](https://img.shields.io/github/downloads/${{ steps.vars.outputs.repository }}/${{ steps.vars.outputs.date }}/total?label=Downloads)
