name: Kali SDM845 Release

on: [workflow_dispatch]

jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest
    # timeout-minutes: 200
    steps:
      - uses: actions/checkout@v4

      - name: Set Custom Variables
        id: vars
        run: |
          echo "date=$(date +%Y%m%d)" >> $GITHUB_OUTPUT
          echo "repository=shubhamvis98/kali-pinephone" >> $GITHUB_OUTPUT

### Build Code Starts from Here

      - name: Clone Repository
        run: |
          echo sudo apt update
          echo sudo apt install -y debootstrap systemd-container rsync qemu-user-static bmap-tools android-sdk-libsparse-utils
          echo git clone https://github.com/Shubhamvis98/kali-pinephone build
          echo cp custom.sh build

      - name: Download base.tgz
        run: |
          echo pip install gdown
          echo gdown --fuzzy 'https://drive.google.com/file/d/1arNys82V96bnwEWPjMTwq26ro0K8af0e/view?usp=sharing' -O build/base.tgz

      - name: Build
        run: |
          mkdir build
          cd build
          echo world > kali_phosh.tar.xz
          echo hello > boot.img
          echo chmod +x build.sh
          echo sudo ./build.sh -t sdm845 -s custom.sh
          echo tar -cpzf "kali_phosh_sdm845_`date +%Y%m%d`.tar.xz" boot*img kali_phosh*img
          echo sha1sum *.tar.xz > sha1sum

### Build Code Ends Here

      - name: Upload Release
        uses: softprops/action-gh-release@v2
        env:
          GH_TOKEN: ${{ github.token }}
        with:
          draft: true
          generate_release_notes: false
          prerelease: false
          tag_name: ${{ steps.vars.outputs.date }}
          name: SDM845 Release ${{ steps.vars.outputs.date }}
          files: |
            build/*.tar.xz
            build/sha1sum
          token: ${{ secrets.RELEASE_TOKEN }}
          repository: ${{ steps.vars.outputs.repository }}
          body: |
            **Default User/Pass:** kali/8888

            ### Installation:

            **Supported Devices:**
            - SHIFT SHIFT6mq (axolotl)
            - Xiaomi Poco F1 (beryllium ebbg/tianma)
            - Oneplus 6 (enchilada)
            - Oneplus 6T (fajita)
            - Xiaomi Mi MIX 2S (polaris)

            ### Install on SDCard:
            ```
            tar -xpf kali_phosh_sdm845_YYYYMMDD.tar.xz
            simg2img kali_phosh_sdm845_YYYYMMDD.img rootfs_ext4.img
            dd if=rootfs_ext4.img of=/dev/sdX bs=1M oflag=sync status=progress
            and at last, flash boot.img using fastboot
            fastboot flash boot boot-{model}.img
            ```

            ### Install on EMMC (fastboot method):
            **Boot your device into fastboot and run below commands:**
            ```
            tar -xpf kali_phosh_sdm845_YYYYMMDD.tar.xz
            fastboot flash userdata kali_phosh_sdm845_YYYYMMDD.img
            fastboot flash boot boot-{model}.img
            ```
            ### WARNING: This will wipe your phone. So, I won't recommend to flash it in your daily driver, but if your device supports external sdcard, go ahead (-;

            #### Create an issue if you see any bug in the release
            ### [If you find my work useful and would like to support it, consider making a donation](https://fossfrog.in/donate/)

            ![GitHub release (by tag)](https://img.shields.io/github/downloads/${{ steps.vars.outputs.repository }}/${{ steps.vars.outputs.date }}/total?label=Downloads)
