name: Push to Another Repository

on:
  push:
    branches:
      - main  # Trigger on push to the main branch

jobs:
  push:
    runs-on: ubuntu-latest

    steps:
      # Checkout the source repository (the one where this action is running)
      - name: Checkout source repository
        uses: actions/checkout@v3

      # Clone the target repository where the changes will be pushed
      - name: Clone the target repository
        run: |
          git clone https://github.com/shubhamvis98/test.git
          cd test
        env:
          GH_TOKEN: ${{ secrets.RELEASE_TOKEN }}

      # Copy the new or modified files from the source repository to the target repository
      - name: Copy files to target repository
        run: |
          pwd
          echo hello > new.txt
          echo hello > test/new.txt
          ls
          echo
          ls test
          echo

      # Configure Git with the GitHub Actions bot identity
      - name: Configure git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
      # Commit the changes to the target repository
      - name: Commit changes
        run: |
          cd test
          git add .
          git commit -m "Automated commit by GitHub Actions"

      # Push the changes back to the target repository
      - name: Push changes to target repository
        run: |
          cd test
          git push origin main
