name: Test

on: [workflow_dispatch]

jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest
    # timeout-minutes: 200
    steps:
      - uses: actions/checkout@v4

      - name: Set Custom Variables
        id: vars
        run: |
          echo "date=$(date +%Y%m%d)" >> $GITHUB_OUTPUT
          echo "repository=shubhamvis98/kali-pinephone" >> $GITHUB_OUTPUT

### Build Code Starts from Here

      - name: Clone Repository
        run: |
          mkdir build
          echo hello > build/a.tar.xz
          echo world > build/sha1sum

### Build Code Ends Here

      - name: Upload Release
        uses: softprops/action-gh-release@v1
        with:
          token: ${{ secrets.RELEASE_TOKEN }}
          repository: ${{ steps.vars.outputs.repository }}
          draft: true
          generate_release_notes: false
          prerelease: false
          tag_name: ${{ steps.vars.outputs.date }}
          name: SDM845 Release ${{ steps.vars.outputs.date }}
          files: |
            build/*.tar.xz
            build/sha1sum
          body: |
            **Default User/Pass:** kali/8888